# === Python Bytecode and C Extensions ===
__pycache__/
*.py[cod]
*.so

# === Distribution / Packaging ===
*.egg
*.egg-info/
dist/
build/

# === Logs and Databases ===
*.log
*.sqlite3

# === Virtual Environments ===
.env
.venv/
venv/
env/

# === IDEs ===
.vscode/
.idea/

# === Model Files and Folder ===
models/
*.pt
*.pth
vocab.txt
# === OS Files ===
.DS_Store
Thumbs.db

# === Render Specific ===
render.yaml

